.dashboard {
  width: 87vw;
}
.upper-dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2rem;
  place-items: center;
  width: 80vw;
  grid-gap: 1em;
}
.dashBoardIcon {
  width: 55px;
  position: relative;
  left: 0.4em;
  border-radius: 50%;
  font-size: 4.5rem;
}
.content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  width: 19vw;
  border-radius: 10px;
  background: #fff;
  align-content: center;
  align-items: center;
}
.earningIcon {
  color: #43b01c;
  align-content: center;
  margin-top: 7px;
  position: relative;
  display: flex;
  justify-content: center;
}
.icreaseIcon {
  color: green;
}
.increasedata {
  color: green;
}
.monthincrease {
  color: black;
}
.box {
  display: flex;
  justify-content: center;
}
.box1 {
  width: fit-content;
}
.inner-box {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-content: center;
  align-items: center;
}
.innner-box-earning {
  background-color: #dcfeed;
}
.innner-box-order {
  background-color: #e7dbff;
}
.innner-box-balance {
  background-color: #ccf2ff;
}
.innner-box-totalsales {
  background-color: #ffbbe0;
}
.dollarFont {
  font-weight: 600;
  font-weight: 900;
  font-size: 1.5rem;
}
.overview-customer-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem;
  width: 80vw;
  height: auto;
  grid-gap: 30px;
}
.overview {
  background-color: white;
  border-radius: 10px;
  width: 54vw;
}
.overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  height: 3rem;
  padding: 5px;
}
.customer {
  background-color: #ffff;
  border-radius: 10px;
}
.overview-heading {
  /* background-color: #ffbbe0; */
  font-weight: 800;
  font-size: 1.2rem;
}
.customer {
  display: flex;
  /* background-color: #43b01c; */
  width: 24vw;
}
.overview-header-left {
  /* background-color: #ccf2ff; */
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 12px;
}
.table-container {
    width: 80vw;
    margin: 2rem;
}
