.tableHeader {
  width: 30px;
  width: 78vw;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 9px;
  align-items: center;
}
.table-header-left {
  font-weight: 900;
}
.table-header-right {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.search-bar {
  max-width: 11rem;
  /* padding: 60px;
    margin: 0 auto; */
}

/* input{
    margin-bottom: 40px;
  } */
.input-simple {
  font-size: 13px;
  line-height: 1.5;
  border: none;
  background: #e6e6e6a8;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 20px 20px;
  /* border: 1px solid #c5cbd5; */
  width: 8rem;
  padding: 0.5em 1em 0.5em 2.5em;
}

.input-simple::placeholder {
  color: #838d99;
}

.input-simple:focus {
  outline: none;
  border: 1px solid #84a2fa;
}
.select-dropdown,
.select-dropdown * {
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6a8;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
