.header {
    position: fixed;
    left: 16vw;
    width: 84%;
    height: 10vh;
    z-index: 1000;
    background: rgba(252, 249, 249, 0.5);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
  }
  
.input-grey-rounded {
  font-size: 16px;
  line-height: 1.5;
  background: #ffff;
  border: 1px solid #d5d9db;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 21px 12px;
  background-size: 17px 20px;
  border-radius: 9px;
  width: 200px;
  padding: 0.5em 1em 0.5em 3em;
}

.input-grey-rounded::placeholder {
  color: #838d99;
}

.input-grey-rounded:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #84a2fa;
}
