.sidebar {
  background-color: #040440;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 16vw;
  position: fixed;
}
.SideBar-heading {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 7px;
    position: relative;
    left: 15px
}
h1 {
  color: #fff;
  font-size: 1.5rem;
}
.heading-iconImg {
  height: 30px;
}
.sidebar-content {
  padding: 10px 5px;
  margin: 10px;
}
a {
  text-decoration: none;
}
.sidebar a {
  display: flex;
  color: rgb(40, 36, 77);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 400;
  align-items: center;
  position: relative;
  height: 14px;
  gap: 22px;
}
.active h3 {
  color: #ffff;
}
.active div {
  background-color: rgb(252, 230, 201);
  border-radius: 40%;
}
.sidebar a:hover {
  color: rgb(176, 141, 13);
}
/* .sidebar a:hover div{
    background-color: rgb(253, 243, 229);
    border-radius: 40%;
} */
.sidebar-content:hover {
  background-color: #2d2d69;
  border-radius: 8px;
  /* margin: 10px; */
}
.sidebar h3 {
  text-align: center;
  font-size: 0.95rem;
  color: #fff;
}
.iconImg {
  width: 25px;
}
.arrowIcon {
  width: 20px;
}
@media (max-width: 650px) {
  .sidebar {
    width: 20px;
  }
  .sidebar h3 {
    visibility: hidden;
  }
}
