.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #e6dddd;
  border-radius: 10px;
}

.dropdown-menu.open {
  display: block;
}

.profile-dropdown {
  display: inline-block;
  position: relative;
  background: #f6f7f9;
  border: 1px solid #d5d9db;
  margin: auto;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-dropdown * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.userIcon {
  margin-left: 10px;
}

.profile-dropdown input[type="checkbox"] {
  display: none;
}

.profile-dropdown input[type="checkbox"]:checked ~ ul {
  display: block;
  animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked ~ img {
  background: orange;
}

.profile-dropdown input[type="checkbox"]:checked ~ label i {
  color: #f2f2f2;
}

.profile-dropdown img {
  display: inline-block;
  background: #d9d9d9;
  height: 2rem;
  vertical-align: middle;
  margin-right: 1rem;
  margin: 0.5rem 0.75rem 0.5rem 0.5rem;
  border-radius: 50%;
}

.profile-dropdown span {
  display: inline-block;
  vertical-align: sub;
  width: 80px;
  margin-right: -1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-dropdown ul {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 8px;
  background: #f6f7f9;
  border: 1px solid #d5d9db;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  border-radius: 10px;
}

.profile-dropdown ul li a {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #384751;
  font-size: 0.9rem;
}

.profile-dropdown ul li a i {
  font-size: 0.9rem;
  vertical-align: middle;
  margin: 0 0.75rem 0 -0.25rem;
}

.profile-dropdown ul li a:hover {
  background: #d1dbef;
}

.profile-dropdown ul li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}

.profile-dropdown ul li:last-child a:hover {
  border-radius: 0 0 3px 3px;
}

.profile-dropdown > label {
  position: relative;
  height: 3rem;
  display: block;
  text-decoration: none;
  background: transparent;
  color: #333;
  box-sizing: border-box;
  padding: 12px;
  float: right;
  border-radius: 0 3px 3px 0;
}

.profile-dropdown:after {
  content: "";
  display: table;
  clear: both;
}
