.header-container{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-left:20% ;
    float: left;
    height: 90px;
    width: 80%;
    position: fixed;
    border-bottom: 1px solid rgb(34, 123, 7); 
    z-index: 1;

}
.header-container input{
    height: 30px;
    width: 350px;
    border-radius: 10px;
    margin: 30px;
    margin: 4px;
}
.search-container {
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc; */
    padding: 8px;
    border-radius: 4px;
  }
  
  .search-input {
    /* flex: 1; */
    border: none;
    padding: 4px;
  }
  
  .search-icon {
    padding: 4px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  /* profile setting and notification designe */
  .flex-profile{
    display: flex;
    position: relative;
    right: 80px;
    align-items: center;
  }

  .flex-profile > div {
    width: 30px;
    margin: 10px;
    text-align: center;
    line-height: 50px;

  }
  .profileIcon{
    width: 35px;
    margin-top: 15px;
  }
