.header-container{
    display: flex;
    background-color: #ffff;
    float: left;
    height: 90px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgb(34, 123, 7); 
    z-index: 1;
}
.company-logo{
    height: 67px;
    width: 210px;
    top: 7px; 
}
.companylogo{
    width: 45px;
    margin-top: 25px;
    margin-left: 10px;
    padding: 5px
}

.company-logo h1{
  font-weight: 800;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    left: 62px;
    bottom: 61px;
}
/* .search-container{
  background-color: #838D99;
} */

.input-grey-rounded{
  font-size: 16px;
  line-height: 1.5;
  background: #f6f7f9;
  border: 1px solid #D5D9DB;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 21px 12px;
  background-size:  17px 20px;
  border-radius: 100px;
  width: 300px;
  padding: .5em 1em .5em 3em;
  } 
  
  .input-grey-rounded::placeholder{
    color: #838D99;
  }
  
  .input-grey-rounded:focus {
    outline: none;
    background-color: #FFF;
    border: 1px solid #84A2FA;
  }
.header-container input{
  height: 27px;
  width: 277px;
  border-radius: 35px;
  margin: 29px 0px 0px 14px;
}
  .flex-profile{
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 5px;
    right: 15px;
    gap: 12px;
  }
  .profileIcon{
    width: 25px;
    margin-top: 30px;
  }
  
